@use "sass:map";

$breakpoints: (
	medium: 50em,
	large: 70em,
);

@mixin mq($key) {
	$size: map.get($breakpoints, $key);

	@media (min-width: $size) {
		@content;
	}
}

:root {
	--clr-primary: hsl(0deg 0% 10%);
	--clr-secondary: hsl(0deg 0% 100%);
}

body {
	display: grid;
	height: 100vh;
	height: 100dvh;
	place-content: center;
	background: var(--clr-primary);

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: url(../assets/noise.png);
		background-size: 100px;
		pointer-events: none;
	}
}

h1 {
	display: none;
}

#logo {
	width: clamp(10rem, 20vw, 13rem);
	will-change: filter;
	transition: all 0.3s ease-out;
	filter: blur(10px);
	opacity: 1;

	#radner {
		fill: var(--clr-secondary);
	}
}

button {
	background: none;
	border: none;
	outline: none;
	cursor: default;

	&:focus-visible {
		outline: none;
	}

	&:hover #logo,
	&:focus-visible #logo {
		filter: blur(0);
		opacity: 0.8;
		animation: unset;
	}
}
